div.header{
    margin: 0 auto ;
    height: 50px;
   max-width: 950px;
    position: relative;
    background-color: rgb(108, 190, 0)
}
.header>a{
    text-align: center;
    text-decoration: none;
    font-size: larger;
}